:root {
    --accent-color: #2196F3;
    --logo-color: #000000;
    --text-color: #212121;
    --add-text-color: #757575;
    --title-color: #FFF;
    --footer-background: #2F303A;
    --team-background: #F5F4FA;
    --footer-humber: rgba(255, 255, 255, 0.6);
}

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

.header {
    background: #FFF;
    padding-bottom: 25px;
    padding-top: 24px;
    border-bottom: 2px solid #ECECEC;
}

.main {
    background: #FFF;
}

.footer {
    background: #2F303A;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.header .container {
    display: flex;
    align-items: center;
}

.header-logo {
    color: var(--logo-color);
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    margin-right: 93px;
}
.logo-img {
    width: 16px;
        height: 12px;
        margin-right: 10px;
        fill: var(--add-text-color);
}
#logo-imag {
    width: 10px;
        height: 16px;
        margin-right: 10px;
}
.header-color {
    color: var(--accent-color);
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;

}


.nav-list {
    display: flex;
    gap: 50px;
}

.header-list {
    display: flex;
    margin-left: auto;
}

.nav-link {
    color: var(--accent-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.active {
    color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

.nav-link {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.active {
    color: var(--accent-color);
}

.header-link:hover, .header-link:focus {
    color: var(--accent-color);
            fill: #2196F3;
            .logo-img {
                fill: var(--accent-color);
            }
}

.header-link {
    color: var(--add-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    margin-right: 50px;
    margin-left: 10px;
            display: flex;
                justify-content: center;
                align-items: center;

}

.hero {
    background-color: var(--footer-background);
    padding-bottom: 200px;
    padding-top: 200px;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../images/work-team.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    color: var(--title-color);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.hero-button {
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--title-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    /* 187.5% */
    letter-spacing: 0.96px;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
}

.benefits {
    padding-top: 94px;
}

.benefits-list {
    display: flex;
    gap: 30px;
}

.benefits-item::before {
    content: "";
    background-color: var(--team-background);
    display: block;
    background-repeat: no-repeat;
    padding: 25px 25px 100px 100px;
    background-position: center;
    background-image: url(../images/antenna.png);
    background-position: center;
    margin-bottom: 30px;
}


.benefits-item:nth-child(2):before {
    background-image: url(../images/clock.png);
}

.benefits-item:nth-child(3):before {
    background-image: url(../images/diagram.png);
}

.benefits-item:nth-child(4):before {
    background-image: url(../images/astronaut.png);
}

.benefits-title {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.benefis-desk {
    color: var(--add-text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.42px;
}

/* WORK */
.work {
    padding-bottom: 94px;
    padding-top: 94px;
    text-align: center;
}

.work-title {
    color: var(--text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.work-lists {
    display: flex;
    gap: 30px;
}

.work-list {
    position: relative;
}

.work-text {
                width: 100%;
                    height: 70px;
    position: absolute;
    bottom: 0;
    color: #FFF;
    padding-top: 27px;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
            background: rgba(47, 48, 58, 0.80);

}
.work-box {
    width: 370px;
    opacity: 1;

}
.work-texte {
    width: 100%;
        height: 70px;
        position: absolute;
        bottom: 0;
        color: #FFF;
        padding-top: 27px;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        background: rgba(47, 48, 58, 0.80);
}
.team {
    background-color: var(--team-background);
    padding-top: 94px;
    padding-bottom: 94px;
}

.item {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
}
.item:hover {
    fill: white;
}

.team-title {
    color: var(--text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}
.team-linkkk {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team-linkkk:hover,
.team-linkkk:focus {
    background-color: #2196F3;
        padding: 12px;
        border-radius: 50%;
        width: 44px;
height: 44px;
    .item {
        fill: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.team-list {
    display: flex;
    gap: 30px;
}
.team-lists {
    display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}
.team-itemw {
    background-color: var(--title-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}

.team-img {
    width: 270px;
}

.team-box {
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
}

.team-deskription {
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;
    margin-bottom: 10px;
}

.team-desk {
    color: var(--add-text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
    margin-bottom: 28px;
}
.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-title {
    color: var(--text-color);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.clients-images {
    width: 100px;
    height: 60px;
    fill: #AFB1B8;

}
.clients-link {
        width: 170px;
            height: 92px;
            border-radius: 4px;
            border: 1px solid #AFB1B8;
            padding-bottom: 16px;
            padding-top: 16px;
            padding-left: 32px;
            padding-right: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
}
.clients-items:hover,
.clients-items:focus {
    .clients-images {
        fill: var(--accent-color);
    }
}
.clients-link:hover,
.clients-link:focus {
border: 1px solid var(--accent-color);
    .clients-images {
        fill: var(--accent-color);
    }
}
.clients-images:hover,
.clients-images:focus {

    fill: #2196F3;
}
.footer {
    padding-bottom: 60px;
    padding-top: 60px;
    display: flex;  
}
.cheked {
    display: flex;
}
.footer-logo {
    color: var(--title-color);
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}
.footer-box {
    margin-left: 70px;
}
.footer-image {
    width: 20px;
    height: 20px;
        fill: white;
        
}

.footer-title {
    color: var(--title-color);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 20px;
}
.footer-link {
    margin-top: 9px;
}
.logo-color {
    color: var(--accent-color);
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}
.footer-items {
            display: flex;
                align-items: center;
                justify-content: center;
}
.footer-links {
    width: 44px;
        height: 44px;
        background-color:  rgba(255, 255, 255, 0.10);
        padding: 12px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
}
.cheked {}
.footer-links:hover,
.footer-links:focus {
    background-color: #2196F3;
    padding: 12px;
    border-radius: 50%;
    width: 44px;
    height: 44px;

    .item {
        fill: white;
    }
}
.address {
    margin-top: 20px;
    font-style: normal;
}
.address-link {
    color: var(--title-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    /* 171.429% */
    letter-spacing: 0.42px;
}

.footer-list {
    display: flex;
    gap: 12px;
}
.footer-link {
    color: var(--footer-humber);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    /* 171.429% */
    letter-spacing: 0.42px;
}
.footer-boxd {
    margin-left: 93px;
    display: flex;
}
.footer-bodx {
    
}
.footer-input {
    width: 358px;
        height: 50px;
        border-radius: 4px;
            border: 1px solid rgba(255, 255, 255, 0.30);
            background: rgba(33, 150, 243, 0.00);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
            margin-right: 12px;
            display: flex;
                flex-direction: column;
                justify-content: center;
                color: rgba(255, 255, 255, 0.60);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    /* 125% */
                    letter-spacing: 0.48px;
                  padding-top: 15px;
                  padding-bottom: 15px;
                  padding-left: 16px;
                
}
.footer-deskription {
    color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 20px;
        margin-left: 93px;
}
.footer-button {
    width: 200px;
        height: 50px;
        border-radius: 4px;
            background: #2196F3;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
            color: #FFF;
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 30px;
                /* 187.5% */
                letter-spacing: 0.96px;
                border: none;
}
.footer-img {
    width: 24px;
        height: 24px;
        margin-left: 10px;
}
/* =============================МОДЕЛЬНЕ ВІКНО===================================== */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(60, 50, 100, 0.8);
    opacity: 1;
}
.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.modal {
            position: relative;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%; 
    border-radius: 4px;
        background: #FFF;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
        padding: 40px;

}
.modal-title {
    color: #212121;
        margin-bottom: 12px;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.6px;
}
.modal-label {
        color: #757575;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.12px;
            display: block;
            margin-bottom: 4px;
}
.model-wrapper {
    position: relative;

}
.modal-input {
    margin-bottom: 10px;
        width: 448px;
        height: 40px;
        border-radius: 4px;
        border: 1px solid rgba(33, 33, 33, 0.20);
        padding-left: 35px;
        padding-right: 35px;
}
.modal-input:focus + .input-item,
.modal-input:hover + .input-item {
    fill: #2196F3;
}
.modal-input:hover,
.modal-input:focus {
        border: none;
        outline: 1px solid var(--accent-color);
}

.input-item {
    position: absolute;
        top: 11px;
        left: 12px;
        width: 18px;
        height: 18px;
}
.modal-comment {
    color: #757575;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.12px;
        display: block;
        margin-bottom: 4px;
        
}
.modal-area {
    width: 448px;
        height: 120px;
        padding: 12px 16px;
        color: rgba(117, 117, 117, 0.50);
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.12px;
            resize: none;
            border-radius: 4px;
                border: 1px solid rgba(33, 33, 33, 0.20);
                color: rgba(117, 117, 117, 0.50);
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.12px;
}
.input-box {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

}
.input-cheked {
    width: 16px;
    height: 15px;


}
.input-cheked:hover,
.input-cheked:focus {
    outline: 1px solid black;
}
.text-cheked {
    color: #757575;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        /* 171.429% */
        letter-spacing: 0.42px;
}
.modal-link {
    color: #2196F3;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.42px;
        text-decoration-line: underline;
}
.modal-btn {

    color: #FFF;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        /* 187.5% */
        letter-spacing: 0.96px;
        width: 200px;
            height: 50px;
            border-radius: 4px;
                background: #2196F3;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
                border: none;
                margin-top: 30px;
                margin-right: 124px;
                margin-left: 124px;
}
.button-close {
    position: absolute;
    width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
            border: 1px solid grey;    
            top: 8px;
            right: 8px;
}
.button-close:hover,
.button-close:focus {
    fill:  var(--accent-color);
    border: none;
    outline: 1px solid grey;
    padding: 2px;
}
.icon-close {
    width: 18px;
        height: 18px;
        border: none;
}
/* PORTFOLIO====================================================================================================== */

.portfolio {
    padding-bottom: 94px;
    padding-top: 94px;
}

.button-list {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;
}
.chekede {
    color: #2196F3;
}
.button-btn {
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.62;
    /* 162.5% */
    letter-spacing: 0.48px;
    padding: 6px 22px;
    border: none;
}

.button-btn {
    border-radius: 4px;
}

.button-btn:hover {
    color: var(--title-color);
    background-color: var(--accent-color);

    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.portfolio-item {
    border: 1px solid #EEE;
    flex-basis: calc((100% - 60px) / 3);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.portfolio-img {
    width: 100%;
}

.portfolio-title {
    color: var(--text-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 2;
    /* 200% */
    letter-spacing: 1.08px;
    margin-bottom: 4px;
}

.portfolio-text {
    color: var(--add-text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.87;
    /* 187.5% */
    letter-spacing: 0.48px;
}

.portfoio-box {
    padding: 20px 24px;
    background: #FFF;
}
