.header {
  padding: 25px 0;
  border-bottom: 1px solid $header-line;

  &>.container {
    @include flex-center(row);
  }

  &__logo {
    color: $logo-color;
    font-family: "Raleway";
    @include text-style(26px, 1.38, 0.78px, 700);
    margin-right: 93px;
    @extend %fade-in;
  }

  &__list {
    @include flex-center(row, 50px);
    margin-left: auto;
  }

  &__item {
    position: relative;

    &::after {
      content: "";
      opacity: 0;
      background-color: $accent-color;
      border-radius: 2px;
      width: 160px;
      height: 4px;
      position: absolute;
      top: 48px;
      left: 0;
      @include transition(transform 550ms cubic-bezier(0.4, 0, 0.2, 1));
      transform: scale(0);
    }

    &:hover::after {
      opacity: 1;
      transform: scale(1);
    }
  }

  &__link {
    @include flex-center(row, 10px);
    fill: $add-text-color;

    &:hover,
    &:focus {
      .header__cell {
        color: $accent-color;
      }

      .header__icon {
        fill: $accent-color;
      }
    }
  }
}