.work {
  padding: 94px 0;
  text-align: center;

  &__title {
    color: #333;

    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1px;
    margin-bottom: 50px;
  }

  &__lists {
    display: flex;
    justify-content: center;

    gap: 30px;

    flex-wrap: wrap;
  }

  &__list {
    position: relative;
    width: 370px;

    overflow: hidden;

    text-align: center;
  }

  &__img {
    width: 100%;

    transition: transform 0.3s ease-in-out;
  }

  &__list:hover .work__img {
    transform: scale(1.1);
  }

  &__text {
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);

    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.5px;
  }
}
