@charset "UTF-8";
a {
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  margin-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.team-desk {
  margin: 0;
}

.button {
  margin: 0;
}

.header__logo {
  opacity: 0;
  animation: fadeIn 2s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 1px solid black;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  font-family: Roboto;
}

* {
  box-sizing: border-box;
}

.header {
  padding: 25px 0;
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 26px 0;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 25px 0;
  }
}
.header > .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0;
}
.header__logo {
  color: #000000;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.78px;
  font-weight: 700;
  margin-right: auto;
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
  margin-left: auto;
}
.header__item {
  position: relative;
}
.header__item::after {
  content: "";
  opacity: 0;
  background-color: #2196F3;
  border-radius: 2px;
  width: 160px;
  height: 4px;
  position: absolute;
  top: 48px;
  left: 0;
  transition: transform 550ms cubic-bezier(0.4, 0, 0.2, 1) 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(0);
}
.header__item:hover::after {
  opacity: 1;
  transform: scale(1);
}
.header__link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  fill: #757575;
}
.header__link:hover .header__cell, .header__link:focus .header__cell {
  color: #2196F3;
}
.header__link:hover .header__icon, .header__link:focus .header__icon {
  fill: #2196F3;
}
.header > .container {
  display: flex;
  align-items: center;
}
.header__logo {
  color: #000000;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700px;
  line-height: 1.38;
  letter-spacing: 0.72px;
  margin-right: auto;
  animation: fadeIn 2s ease-out forwards;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
    letter-spacing: 0.78px;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header__color {
  color: #2196F3;
}
.header__list {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    gap: 50px;
    flex-direction: row;
  }
}
.header__item {
  position: relative;
}
.header__item::after {
  content: "";
  display: block;
  opacity: 0;
  border-radius: 2px;
  background-color: #2196F3;
  width: 160px;
  height: 4px;
  position: absolute;
  top: 48px;
  left: 0;
  transition: 550ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(0);
}
.header__item:hover::after {
  opacity: 1;
  transform: scale(1);
}
.header__item:nth-child(1) .header__icon {
  width: 16px;
  height: 16px;
}
.header__item:nth-child(2) .header__icon {
  width: 10px;
  height: 16px;
}
.header__link {
  display: flex;
  align-items: center;
  gap: 10px;
  fill: #757575;
}
.header__link:hover .header__cell, .header__link:focus .header__cell {
  color: #2196F3;
}
.header__link:hover .header__icon, .header__link:focus .header__icon {
  fill: #2196F3;
}
.header__cell {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 134px;
}
-- .header__icon {
  width: 16px;
  height: 12px;
  fill: rgb(117, 117, 117);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__catalog {
  display: flex;
  gap: 50px;
  display: none;
}
@media screen and (min-width: 768px) {
  .header__catalog {
    display: block;
    display: flex;
  }
}
.header__thing {
  position: relative;
}
.header__connect {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__connect::after {
  content: "";
  display: block;
  opacity: 0;
  border-radius: 2px;
  background-color: #2196F3;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 49px;
  left: 0;
  transition: 550ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(0);
}
.header__connect:hover::after {
  opacity: 1;
  transform: scale(1);
}
.header__connect:hover, .header__connect:focus {
  color: #2196F3;
}
.header .active {
  color: #2196F3;
}
.header .active::after {
  content: "";
  display: block;
  opacity: 0;
  border-radius: 2px;
  background-color: #2196F3;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 49px;
  left: 0;
  transition: 550ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(0);
}
.header .active:hover::after {
  opacity: 1;
  transform: scale(1);
}
.header__button {
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}
.header__menu {
  width: 40px;
  height: 60px;
  fill: #000000;
}

.menu {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
  padding: 48px 40px;
  opacity: 1;
  background-color: white;
}
.menu .is-hidden {
  opacity: 0;
  pointer-events: none;
}
.menu__btn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 15px;
}
.menu__btn:hover {
  fill: #2196F3;
}
.menu__close {
  width: 40px;
  height: 40px;
  fill: #212121;
}
.menu__btn:hover__close {
  fill: #2196F3;
}
.menu__list {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.menu__link {
  color: #212121;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.8px;
  line-height: 1.17;
}
.menu__link:hover {
  color: #2196F3;
}
.menu__list-contact {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 306px;
  margin-bottom: 64px;
}
.menu__link-contact {
  color: #757575;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.08;
  letter-spacing: 0.48px;
}
.menu__item-contact:first-child > .menu__link-contact {
  color: #2196F3;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.68px;
}
.menu__list-social {
  display: flex;
  flex-wrap: wrap;
}
.menu__item-social:not(:last-child) {
  margin-right: 10px;
  display: flex;
}
.menu__item-social:not(:last-child)::after {
  content: "";
  display: block;
  width: 1px;
  height: 22px;
  background: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}
.menu__link-social {
  color: #2196F3;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.36px;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/hero-mobile@1x.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  overflow: hidden;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/hero-mobile@2x.webp);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet/hero-tablet@1x.webp);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet/hero-tablet@2x.webp);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desktop/hero-desktop@1x.webp);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desktop/hero-desktop@2x.webp);
  }
}
@keyframes movement {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.hero__title {
  color: #FFF;
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  /* 136.364% */
  letter-spacing: 1.56px;
  text-transform: uppercase;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  animation: movement 1s ease-out;
}
@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 2.64px;
    width: 696px;
  }
}
@keyframes pulsation {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
    color: yellow;
  }
}
.hero__btn {
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--title-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  /* 187.5% */
  letter-spacing: 0.96px;
  padding: 10px 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  animation: movement 3s ease, pulsation 0.6s ease-in-out infinite;
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    padding: 10px 32px;
  }
}

.advant {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .advant {
    padding-top: 94px;
    padding-bottom: 0;
  }
}
.advant__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.advant__item::before {
  content: "";
  margin-bottom: 30px;
  display: block;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: #F5F4FA;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 480px) {
  .advant__item::before {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .advant__item::before {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advant__item::before {
    width: 270px;
  }
}
.advant__item:first-child::before {
  background-image: url(../img/antenna.png);
}
.advant__item:nth-child(2)::before {
  background-image: url(../img/clock.png);
}
.advant__item:nth-child(3)::before {
  background-image: url(../img/diagram.png);
}
.advant__item:last-child::before {
  background-image: url(../img/astronaut.png);
}
.advant__title {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .advant__title {
    text-align: start;
  }
}
.advant__text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.4px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .advant__text {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .advant__text {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advant__text {
    width: 270px;
  }
}

.work {
  padding-top: 94px;
  padding-bottom: 94px;
  display: none;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}
.work__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.work__list {
  display: flex;
  gap: 30px;
}
.work__item {
  position: relative;
}
.work .work__images {
  width: 100%;
  /* или установите конкретное значение, например, 300px */
  height: auto;
  /* сохраняет пропорции изображения */
}
.work__wrap {
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.work__deck {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-color: #F5F4FA;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}
.team__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.team__item {
  flex-basis: 100%;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.team__img {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .team__img {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team__img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__img {
    width: 270px;
    height: 260px;
  }
}
.team__wrap {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team__wrap {
    padding-bottom: 30px;
  }
}
.team__name {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}
.team__taxt {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-bottom: 16px;
}
.team__items {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.team__link {
  padding: 12px 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link:hover, .team__link:focus {
  border: none;
  background-color: #2196F3;
  outline: 0px solid #2196F3;
}
.team__link:hover .team__icon, .team__link:focus .team__icon {
  fill: #FFF;
}
.team__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.client__title {
  color: #212121;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.84px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .client__title {
    font-size: 36px;
    letter-spacing: 1.08px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}
.client__list {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.client__item {
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .client__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
.client__item:hover .client__link {
  border-color: #2196F3;
}
.client__item:hover .client__icon {
  fill: #2196F3;
}
.client__link {
  width: 100%;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .client__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .client__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
  }
}
.client__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}
.footer > .container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer > .container {
    align-items: first baseline;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .footer > .container {
    text-align: start;
  }
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__wrapper {
    width: 235px;
  }
}
.footer__logo {
  color: #FFF;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.72px;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    font-size: 26px;
    letter-spacing: 0.78px;
  }
}
.footer__color {
  color: #2196F3;
}
.footer__address {
  font-style: normal;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .footer__box {
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box {
    margin-left: 70px;
  }
}
.footer__position {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-bottom: 9px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 9px;
}
.footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer__title {
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__items {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer__social {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social:hover {
  background-color: #2196F3;
}
.footer__icon {
  width: 20px;
  height: 20px;
  fill: #FFF;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .footer__block {
    margin-left: auto;
  }
}
.footer__subscribe {
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: inline-block;
}
.footer__form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__form {
    flex-direction: row;
    gap: 12px;
  }
}
.footer__input {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
}
@media screen and (min-width: 480px) {
  .footer__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
  }
}
.footer__btn {
  color: #FFF;
  background-color: #2196F3;
  padding: 10px 31px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (min-width: 1200px) {
  .footer__btn {
    padding: 10px 28px;
  }
}
.footer__plane {
  width: 24px;
  height: 24px;
  fill: #FFF;
}

.card {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .card {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.card__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.card__item {
  flex-basis: 100%;
  border: 1px solid #eeeeee;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .card__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
.card__item:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.card__item:hover .card__desk {
  opacity: 1;
}
.card__box {
  position: relative;
  overflow: hidden;
}
.card__img {
  width: 100%;
}
.card__desk {
  width: 100%;
  height: 100%;
  background-color: #2196F3;
  padding: 63px 24px;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.54px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card__wrap {
  padding: 20px 24px;
}
.card__title {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  margin-bottom: 4px;
}
.card__text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
}

.button__list {
  display: flex;
  gap: 8px;
  row-gap: 15px;
  justify-content: flex-start;
  margin-bottom: 40px;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .button__list {
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .button__list {
    margin-bottom: 50px;
  }
}

.button__btn {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  border-radius: 4px;
  background: #F5F4FA;
  padding: 6px 22px;
  border: none;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button__btn:hover, .button__btn:focus {
  color: #FFF;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  opacity: 1;
  transition: opacity 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  animation: fadeIn 5s ease-out forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.modal__title {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
  text-align: center;
}
.modal__form {
  font-size: 20px;
}
.modal__box {
  position: relative;
}
.modal__label {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.12px;
}
.modal__icon {
  width: 18px;
  height: 18px;
  fill: rgb(33, 33, 33);
  position: absolute;
  top: 55%;
  left: 14px;
}
.modal__input {
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: rgba(0, 0, 0, 0);
  padding: 11px 12px 11px 42px;
  font-size: 14px;
}
.modal__input:hover, .modal__input:focus {
  border: 1px solid #2196F3;
}
.modal__input:hover + .modal__icon, .modal__input:focus + .modal__icon {
  fill: #2196F3;
}
.modal__coment {
  display: block;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 100%;
  height: 120px;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.12px;
  resize: none;
  outline: rgba(0, 0, 0, 0);
  font-size: 14px;
}
.modal__coment:focus {
  border-color: #2196F3;
}
.modal__wrap {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: 12px;
  margin-right: 11px;
}
.modal__checked {
  display: flex;
  align-items: center;
}
.modal__check {
  width: 16px;
  height: 15px;
}
.modal__span {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-left: 8px;
}
.modal__link {
  color: #2196F3;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}
.modal__btn {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  padding: 10px 52px;
  background-color: #2196F3;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.btn__close {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__close:hover, .btn__close:focus {
  cursor: pointer;
  border: 1px solid #2196F3;
}
.btn__close:hover .form__close, .btn__close:focus .form__close {
  fill: #2196F3;
}

.form__close {
  width: 18px;
  height: 18px;
  fill: rgb(0, 0, 0);
}/*# sourceMappingURL=main.css.map */