a {
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  margin-left: 0;
}

img {
  display: block;
}

.team-desk {
  margin: 0;
}

.button {
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 1px solid red;
}

body {
  font-family: Roboto;
}

* {
  box-sizing: border-box;
}

.header {
  padding: 25px 0;
  border-bottom: 1px solid #ececec;
}
.header > .container {
  display: flex;
  align-items: center;
}
.header__logo {
  color: #000000;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  margin-right: 93px;
  animation: fadeIn 2s ease-out forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header__color {
  color: #2196F3;
}
.header__list {
  display: flex;
  gap: 50px;
  margin-left: auto;
}
.header__item {
  position: relative;
}
.header__item::after {
  content: "";
  display: block;
  opacity: 0;
  border-radius: 2px;
  background-color: #2196F3;
  width: 160px;
  height: 4px;
  position: absolute;
  top: 48px;
  left: 0;
  transition: 550ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(0);
}
.header__item:hover::after {
  opacity: 1;
  transform: scale(1);
}
.header__item:nth-child(2) .header__icon {
  width: 10px;
  height: 16px;
}
.header__link {
  display: flex;
  align-items: center;
  gap: 10px;
  fill: #757575;
}
.header__link:hover .header__cell, .header__link:focus .header__cell {
  color: #2196F3;
}
.header__link:hover .header__icon, .header__link:focus .header__icon {
  fill: #2196F3;
}
.header__cell {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__icon {
  width: 16px;
  height: 12px;
  fill: rgb(117, 117, 117);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__catalog {
  display: flex;
  gap: 50px;
}
.header__thing {
  position: relative;
}
.header__connect {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__connect::after {
  content: "";
  display: block;
  opacity: 0;
  border-radius: 2px;
  background-color: #2196F3;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 49px;
  left: 0;
  transition: 550ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(0);
}
.header__connect:hover::after {
  opacity: 1;
  transform: scale(1);
}
.header__connect:hover, .header__connect:focus {
  color: #2196F3;
}

.active {
  color: #2196F3;
}
.active::after {
  content: "";
  display: block;
  opacity: 0;
  border-radius: 2px;
  background-color: #2196F3;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 49px;
  left: 0;
  transition: 550ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(0);
}
.active:hover::after {
  opacity: 1;
  transform: scale(1);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/work.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  overflow: hidden;
}
.hero__title {
  color: #FFF;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  opacity: 0;
  animation: auraPulse 3s ease-out forwards;
}
@keyframes auraPulse {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 0.7;
    transform: scale(1.2);
  }
  90% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}
.hero__btn {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  background-color: #2196F3;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transform: scale(0.5) rotate(-90deg);
  animation: fancyFadeIn 3s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}
@keyframes fancyFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5) rotate(-90deg);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.2) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

.advant {
  padding-top: 94px;
}
.advant__list {
  display: flex;
  gap: 30px;
}
.advant__item::before {
  content: "";
  margin-bottom: 30px;
  display: block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #F5F4FA;
  background-position: center;
  background-repeat: no-repeat;
}
.advant__item:first-child::before {
  background-image: url(../img/antenna.png);
}
.advant__item:nth-child(2)::before {
  background-image: url(../img/clock.png);
}
.advant__item:nth-child(3)::before {
  background-image: url(../img/diagram.png);
}
.advant__item:last-child::before {
  background-image: url(../img/astronaut.png);
}
.advant__title {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.advant__text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.4px;
}

.work {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}
.work__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.work__list {
  display: flex;
  gap: 30px;
}
.work__item {
  position: relative;
}
.work__wrap {
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.work__deck {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
  background-color: #F5F4FA;
}
.team__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.team__list {
  display: flex;
  gap: 30px;
}
.team__item {
  flex-basis: calc((100% - 90px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
.team__img {
  width: 100%;
}
.team__wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__name {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}
.team__taxt {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-bottom: 16px;
}
.team__items {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.team__link {
  padding: 12px 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link:hover, .team__link:focus {
  border: none;
  background-color: #2196F3;
  outline: 0px solid #2196F3;
}
.team__link:hover .team__icon, .team__link:focus .team__icon {
  fill: #FFF;
}
.team__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}
.client__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.client__list {
  display: flex;
  justify-content: space-between;
}
.client__item:hover .client__link {
  border-color: #2196F3;
}
.client__item:hover .client__icon {
  fill: #2196F3;
}
.client__link {
  border-radius: 4px;
  border: 1px solid #afb1b8;
  padding: 16px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}
.footer > .container {
  display: flex;
  align-items: first baseline;
}
.footer__wrapper {
  width: 235px;
}
.footer__logo {
  color: #FFF;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.footer__color {
  color: #2196F3;
}
.footer__address {
  font-style: normal;
  margin-top: 20px;
}
.footer__box {
  margin-left: 70px;
}
.footer__position {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-bottom: 9px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 9px;
}
.footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer__title {
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__items {
  display: flex;
  gap: 10px;
}
.footer__social {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social:hover {
  background-color: #2196F3;
}
.footer__icon {
  width: 20px;
  height: 20px;
  fill: #FFF;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__block {
  margin-left: 93px;
}
.footer__subscribe {
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: inline-block;
}
.footer__form {
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer__input {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 358px;
}
.footer__btn {
  color: #FFF;
  background-color: #2196F3;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__plane {
  width: 24px;
  height: 24px;
  fill: #FFF;
}

.card {
  padding-top: 94px;
  padding-bottom: 94px;
}
.card__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.card__item {
  flex-basis: calc((100% - 60px) / 3);
  border: 1px solid #eeeeee;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card__item:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.card__item:hover .card__desk {
  opacity: 1;
}
.card__box {
  position: relative;
  overflow: hidden;
}
.card__img {
  width: 100%;
}
.card__desk {
  width: 100%;
  height: 100%;
  background-color: #2196F3;
  padding: 63px 24px;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.54px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card__wrap {
  padding: 20px 24px;
}
.card__title {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  margin-bottom: 4px;
}
.card__text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
}

.button__list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.button__btn {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  border-radius: 4px;
  background: #F5F4FA;
  padding: 6px 22px;
  border: none;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button__btn:hover, .button__btn:focus {
  color: #FFF;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  opacity: 1;
  transition: opacity 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  animation: fadeIn 5s ease-out forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.modal__title {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
  text-align: center;
}
.modal__form {
  font-size: 20px;
}
.modal__box {
  position: relative;
}
.modal__label {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.12px;
}
.modal__icon {
  width: 18px;
  height: 18px;
  fill: rgb(33, 33, 33);
  position: absolute;
  top: 55%;
  left: 14px;
}
.modal__input {
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: rgba(0, 0, 0, 0);
  padding: 11px 12px 11px 42px;
  font-size: 14px;
}
.modal__input:hover, .modal__input:focus {
  border: 1px solid #2196F3;
}
.modal__input:hover + .modal__icon, .modal__input:focus + .modal__icon {
  fill: #2196F3;
}
.modal__coment {
  display: block;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 100%;
  height: 120px;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.12px;
  resize: none;
  outline: rgba(0, 0, 0, 0);
  font-size: 14px;
}
.modal__coment:focus {
  border-color: #2196F3;
}
.modal__wrap {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: 12px;
  margin-right: 11px;
}
.modal__checked {
  display: flex;
  align-items: center;
}
.modal__check {
  width: 16px;
  height: 15px;
}
.modal__span {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-left: 8px;
}
.modal__link {
  color: #2196F3;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}
.modal__btn {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  padding: 10px 52px;
  background-color: #2196F3;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.btn__close {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__close:hover, .btn__close:focus {
  cursor: pointer;
  border: 1px solid #2196F3;
}
.btn__close:hover .form__close, .btn__close:focus .form__close {
  fill: #2196F3;
}

.form__close {
  width: 18px;
  height: 18px;
  fill: rgb(0, 0, 0);
}/*# sourceMappingURL=main.css.map */