a {
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  margin-left: 0;
}

img {
  display: block;
}

.team-desk {
  margin: 0;
}

.button {
  margin: 0;
}

:root {
  --accent-color: #2196F3;
  --logo-color: #000000;
  --text-color: #212121;
  --add-text-color: #757575;
  --title-color: #FFF;
  --footer-background: #2F303A;
  --team-background: #F5F4FA;
  --footer-humber: rgba(255, 255, 255, 0.6);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  font-family: Roboto;
}

::marker {
  display: block;
}

* {
  box-sizing: border-box;
}

.header {
  background: #FFF;
  padding-bottom: 25px;
  padding-top: 24px;
  border-bottom: 2px solid #ECECEC;
}

.main {
  background: #FFF;
}

.footer {
  background: #2F303A;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-logo {
  color: var(--logo-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  margin-right: 93px;
}

.logo-img {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--add-text-color);
}

#logo-imag {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.header-color {
  color: var(--accent-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.nav-list {
  display: flex;
  gap: 50px;
}

.header-list {
  display: flex;
  margin-left: auto;
}

.nav-link {
  color: var(--accent-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.active {
  color: var(--accent-color);
  color: var(--accent-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.active::after {
  content: "";
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: #2196F3;
  display: block;
  margin-top: 28px;
  position: absolute;
}

.activee {
  color: var(--accent-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.activee::after {
  content: "";
  width: 72px;
  height: 4px;
  border-radius: 2px;
  background: #2196F3;
  display: block;
  margin-top: 28px;
  position: absolute;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-link::after {
  content: "";
  width: 75px;
  height: 4px;
  border-radius: 2px;
  background: #2196F3;
  display: block;
  margin-top: 28px;
  position: absolute;
  opacity: 0;
  transition: 0.3s ease;
  transition-timing-function: ease-in;
  transform: scale(0);
  transition-duration: 500ms;
}

.nav-link:hover::after {
  opacity: 1;
  transform: scale(1);
}

.nav-link {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  transition-property: background-color color box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.active {
  color: var(--accent-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
  fill: #2196F3;
}
.header-link:hover .logo-img,
.header-link:focus .logo-img {
  fill: var(--accent-color);
}

.header-link {
  color: var(--add-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  margin-right: 50px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color color box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.header-link::after {
  content: "";
  width: 161px;
  height: 4px;
  border-radius: 2px;
  background: #2196F3;
  display: block;
  top: 76px;
  position: absolute;
  opacity: 0;
  transition-timing-function: ease-in-out;
  transform: scale(0);
  transition-duration: 500ms;
}

.header-link:hover::after {
  opacity: 1;
  transform: scale(1);
}

.hero {
  background-color: var(--footer-background);
  padding-bottom: 200px;
  padding-top: 200px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/work-team.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@keyframes movement {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.hero-title {
  color: var(--title-color);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  animation: movement 1s ease-out;
}

@keyframes pulsation {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
    color: yellow;
  }
}
.modal-btn {
  animation: pulsation 0.6s ease-in-out infinite;
}

.hero-button {
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--title-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  /* 187.5% */
  letter-spacing: 0.96px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  animation: movement 3s ease, pulsation 0.6s ease-in-out infinite;
}

.benefits {
  padding-top: 94px;
}

.benefits-list {
  display: flex;
  gap: 30px;
}

.benefits-item::before {
  content: "";
  background-color: var(--team-background);
  display: block;
  background-repeat: no-repeat;
  padding: 25px 25px 100px 100px;
  background-position: center;
  background-image: url(../images/antenna.png);
  background-position: center;
  margin-bottom: 30px;
}

.benefits-item:nth-child(2):before {
  background-image: url(../images/clock.png);
}

.benefits-item:nth-child(3):before {
  background-image: url(../images/diagram.png);
}

.benefits-item:nth-child(4):before {
  background-image: url(../images/astronaut.png);
}

.benefits-title {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefis-desk {
  color: var(--add-text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.42px;
}

.work {
  padding-bottom: 94px;
  padding-top: 94px;
  text-align: center;
}

.work-title {
  color: var(--text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.work-lists {
  display: flex;
  gap: 30px;
}

.work-list {
  position: relative;
}

.work-text {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  color: #FFF;
  padding-top: 27px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}

.work-box {
  width: 370px;
  opacity: 1;
}

.work-texte {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  color: #FFF;
  padding-top: 27px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--team-background);
  padding-top: 94px;
  padding-bottom: 94px;
}

.item {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition-property: background-color color box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.item:hover {
  fill: white;
}

.team-title {
  color: var(--text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.team-linkkk {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes rotateAndScale {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.team-linkkk:hover,
.team-linkkk:focus {
  background-color: #2196F3;
  padding: 12px;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  animation: rotateAndScale 0.6s ease-out;
}
.team-linkkk:hover .item,
.team-linkkk:focus .item {
  fill: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-lists {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.team-itemw {
  background-color: var(--title-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
.team-item:hover .team-img {
  animation: scaleUp 0.3s ease-in-out forwards;
}

.team-img {
  width: 270px;
}

.team-box {
  padding-bottom: 30px;
  padding-top: 30px;
  border-radius: 0px 0px 4px 4px;
  background: #FFF;
}

.team-deskription {
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}

.team-desk {
  color: var(--add-text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-bottom: 28px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  color: var(--text-color);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.clients-images {
  width: 100px;
  height: 60px;
  fill: #AFB1B8;
  transition-property: background-color color box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.clients-link {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-items:hover .clients-images,
.clients-items:focus .clients-images {
  fill: var(--accent-color);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
}
.clients-link:hover .clients-images,
.clients-link:focus .clients-images {
  fill: var(--accent-color);
}

.clients-images:hover,
.clients-images:focus {
  fill: #2196F3;
}

.footer {
  padding-bottom: 60px;
  padding-top: 60px;
  display: flex;
}

.cheked {
  display: flex;
}

.footer-logo {
  color: var(--title-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.footer-box {
  margin-left: 70px;
}

@keyframes rotateAndScale {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(1.2) rotate(360deg);
  }
}
.footer-links:hover {
  animation: rotateAndScale 0.6s ease-out;
}

.footer-image {
  width: 20px;
  height: 20px;
  fill: white;
}

.footer-title {
  color: var(--title-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-link {
  margin-top: 9px;
}

.logo-color {
  color: var(--accent-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.footer-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-links {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color color box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.footer-links:hover,
.footer-links:focus {
  background-color: #2196F3;
  padding: 12px;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}
.footer-links:hover .item,
.footer-links:focus .item {
  fill: white;
}

.address {
  margin-top: 20px;
  font-style: normal;
}

.address-link {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  /* 171.429% */
  letter-spacing: 0.42px;
}

.footer-list {
  display: flex;
  gap: 12px;
}

.footer-link {
  color: var(--footer-humber);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  /* 171.429% */
  letter-spacing: 0.42px;
}

.footer-boxd {
  margin-left: 93px;
  display: flex;
}

.footer-input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
  letter-spacing: 0.48px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
}

.footer-deskription {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-left: 93px;
}

.footer-button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.96px;
  border: none;
}

.footer-img {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

@im @import "./section/modal";/*# sourceMappingURL=main.css.map */