a {
    text-decoration: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    margin: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
    margin-left: 0;
}

img {
    display: block;
}

.team-desk {
    margin: 0;
}

.button {
    margin: 0;
}